## Functions

Python has sum in-built function. 

`sorted()` is one of the widely used python function. 

`sum()` is another python function.

One can also define a function and use the function in the code. These are called user-defined function.

```python
def function_name(arg1, arg2, ...):
    do some work within the function
    return something                 # return is optional (you may not return anything, in that case the function will return None)
```

To call this function in your code:

`function_name(a1, a2)`

### `sorted()` function in python

The `sorted()` function returns a sorted list of the specified iterable object.

`sorted(iterable, key, reverse)`

- `iterable` is a required argument. This is the iterable object to sort (list, dict, tuple etc.)
- `key` is an optional argument. Default is None. The key is basically a function to execute to decide the order.
- `reverse` is an optional boolean argument. If False then it will sort in ascending order, if True it will sort by descending order. Default is False.

In [1]:
a = ['apple', 'guava', 'orange', 'banana', 'pineapple', 'grapes']

In [2]:
sorted_a = sorted(a)   # alphabetically ordered list

sorted_a

['apple', 'banana', 'grapes', 'guava', 'orange', 'pineapple']

In [3]:
a

['apple', 'guava', 'orange', 'banana', 'pineapple', 'grapes']

In [4]:
a.sort()   # method to sort the list in place, modifies the original list, doesn't return anything

a

['apple', 'banana', 'grapes', 'guava', 'orange', 'pineapple']

In [5]:
t = ('apple', 'banana', 'grapes', 'guava', 'orange', 'pineapple')

sorted(t)

['apple', 'banana', 'grapes', 'guava', 'orange', 'pineapple']

In [6]:
city = ['newyork', 'beijing', 'mumbai', 'london', 'paris', 'melbourne']

sorted(city)

['beijing', 'london', 'melbourne', 'mumbai', 'newyork', 'paris']

In [7]:
sorted(city, reverse=True)

['paris', 'newyork', 'mumbai', 'melbourne', 'london', 'beijing']

In [8]:
sorted(city, key=len)   # it applied the len() function on each string of the list and sort the strings based on the lenth of the strings

# if two strings has the same length, in that case it will appear in the same order as in the original list.

['paris', 'mumbai', 'london', 'newyork', 'beijing', 'melbourne']

In [9]:
sum([1, 3, 5])

9

In [10]:
my_list = [[1,2,3] , [4,5,6], [3,2,-1], [-4,5,6]]  # list of lists

sorted(my_list, key=sum, reverse=True)

[[4, 5, 6], [-4, 5, 6], [1, 2, 3], [3, 2, -1]]

### User defined function

In [11]:
def add_numbers(a, b):
    c = a+b
    return c

In [12]:
def add_numbers(a, b):
    return a+b

In [13]:
add_numbers(3, 7)

10

In [14]:
my_list = [[1,2,3] , [4,5,6], [3,2,-1], [-4,7,6]]

# sort this list based on the 2nd element of the constituent lists.

def return_second_element(L):
    return L[1]

In [15]:
return_second_element(L=[6, -1, 3])

-1

In [16]:
sorted(my_list, key=return_second_element)

[[1, 2, 3], [3, 2, -1], [4, 5, 6], [-4, 7, 6]]

In [17]:
fruit_items = {'apple': 120, 'banana': 40, 'pineapple': 80, 'mango': 150}

In [18]:
sorted(fruit_items)   # return a list with sorted keys of the dictionary

['apple', 'banana', 'mango', 'pineapple']

In [19]:
sorted(fruit_items.items())  # sorted key-value pairs on keys

[('apple', 120), ('banana', 40), ('mango', 150), ('pineapple', 80)]

In [20]:
fruit_items.items()

dict_items([('apple', 120), ('banana', 40), ('pineapple', 80), ('mango', 150)])

In [21]:
sorted(fruit_items.items(), key=return_second_element)

[('banana', 40), ('pineapple', 80), ('apple', 120), ('mango', 150)]

In [22]:
sorted(fruit_items, key=return_second_element)

['banana', 'mango', 'pineapple', 'apple']

In [23]:
sorted_dict = dict(sorted(fruit_items.items(), key=return_second_element))

sorted_dict

{'banana': 40, 'pineapple': 80, 'apple': 120, 'mango': 150}

In [24]:
sorted_dict.update({"guava": 30})

sorted_dict

{'banana': 40, 'pineapple': 80, 'apple': 120, 'mango': 150, 'guava': 30}

### Lambda function

Simple oneline anonymous function used for quickly defining and using a function. 

Anonymous means, if doesn't require a name.

```python
lambda varaibles : operation on the variables

lambda x, y: x+y

```

In [25]:
f = lambda x: x**2

f

In [26]:
f(5)

25

In [27]:
v = f(12)

v

144

In [28]:
add_numbers = lambda x,y: x+y

add_numbers(2,3)

5

In [29]:
fruit_items = {'apple': 120, 'banana': 40, 'pineapple': 80, 'mango': 150}

sorted(fruit_items.items(), key=lambda x: x[1])

[('banana', 40), ('pineapple', 80), ('apple', 120), ('mango', 150)]

In [30]:
my_list = [[1,2,3] , [4,-5,6], [3,4,-1], [-4,5,6]]

sorted(my_list, key=lambda l: l[-1])

[[3, 4, -1], [1, 2, 3], [4, -5, 6], [-4, 5, 6]]

In [31]:
values = (-1, 4, 2, 1, 8, 9, 12, -2, -5)

sorted(values, key=lambda x: x**2)

[-1, 1, 2, -2, 4, -5, 8, 9, 12]

### List comprehension

In [32]:
my_list = [3, 5, 10, 11, 2]

# Create another list with squared values of the my_list

result_list = []

for x in my_list:
    result_list.append(x**2)

result_list

[9, 25, 100, 121, 4]

In [33]:
result_list = [x**2 for x in my_list]   # list comprehension

result_list

[9, 25, 100, 121, 4]

In [34]:
number_list = [-3, 8, 9, -4, 0, 12, 4, 5]

# create another list from the elements of the number list
# condition: in the newlist square the number if it is less than 0 else leave as it is

new_number_list = [x**2 if x < 0 else x for x in number_list]

new_number_list

[9, 8, 9, 16, 0, 12, 4, 5]

In [35]:
values = [3, -2, 5, 12, 9, 25, 32, -4]

# create a new list from the values where the (element + 4)**2-10 > 0

new_list = [x for x in values if (x+4)**2-10 > 0]

new_list

[3, 5, 12, 9, 25, 32]

In [36]:
def f(x):
    return (x+4)**2-10

new_list = [x for x in values if f(x) > 0]

In [37]:
new_list

[3, 5, 12, 9, 25, 32]

### Function docstring

In [38]:
def add_numbers(num1, num2):
    """
    Description: This function will add two input numbers and return the result

    arguments:
        - num1: (int or float) first number
        - num2: (int or float) second number

    return:
        - it return a number which is sum of num1 and num2 (int or float) 

    example:
        add_numbers(3,5) -> 8
    """
    return num1 + num2

In [39]:
add_numbers(3, 7.3)

10.3

### Function arguments

Two types of arguments that a pyton function takes

1. Positional argument
2. keyword argument

#### Positional arguments

Positional arguments are passed to a function based on heir position or order

In [40]:
def greet(name, greeting):

    print(f"{greeting} {name}")

In [41]:
greet("Bob", "Welcome")

Welcome Bob

In [42]:
greet("Hi", "Sourav")

Sourav Hi

#### Keyword arguments

In [43]:
greet(greeting="Hi", name="Sourav")

Hi Sourav

#### Deafult values

In [44]:
def greet(name, greeting="Hello"):
    """
    Description: This function greets the people by their name

    Args:
        - name: (str) [required] The name of the person
        - greeting: (str) [optional] The greeting string, default value is "Hello"
    """

    print(f"{greeting} {name}")

In [45]:
greet("Alice")  # takes the default value of the argument greeting

Hello Alice

In [46]:
greet("Alice", "Hi")  # deafult value of greeting will be overriden

Hi Alice

In [47]:
greet(name="Bob", "Hey")  # positional argument is followed by keyword argument -> this will cause an error

# in python keyword arguments should always come after positional argument

SyntaxError: positional argument follows keyword argument (3885458038.py, line 1)

In [48]:
greet("Ramanujan", greeting="Welcome")  # this is ok -> keyword argument comes after positional argument

Welcome Ramanujan

In [49]:
greet("Hey", name="Bob")  # this will cause an error

TypeError: greet() got multiple values for argument 'name'

### *args

This is a way to provide multiple postional argument to a function

In [ ]:
# *args can take an number of positional arguments into tuple

def my_func(*args):
    for arg in args:
        print(arg)

In [50]:
my_func(1, 5, 3.93, "Sourav", "Bob", "Alice", True)

NameError: name 'my_func' is not defined

In [51]:
my_func('a', 12, '25.46', "I love my country", False)

NameError: name 'my_func' is not defined

In [52]:
my_arguments = ('a', 12, '25.46', "I love my country", False)

my_func(*my_arguments)

NameError: name 'my_func' is not defined

### **kwargs 

This is the way to pass multiple keyword arguments to a function

In [53]:
# **kwargs can take any number of keyword arguments into dictionary

def another_function(**kwargs):

    for k, v in kwargs.items():
        print(f"{k}: {v}")

In [54]:
another_function(a=7, b=25, c="Here we are")

a: 7
b: 25
c: Here we are

In [55]:
d = {
    'name': "Sourav",
    'ocuupation': "Data Scientist",
    'nationality': "Indian",
    'age': 34
}

In [56]:
another_function(**d)

name: Sourav
ocuupation: Data Scientist
nationality: Indian
age: 34

In [57]:
another_function(name="Sourav", occupation="Data Scientist", nationality="Indian")

name: Sourav
occupation: Data Scientist
nationality: Indian

In [58]:
def greet(name, greeting, **kwargs):

    print(f"{greeting} {name}")

    for k, v in kwargs.items():
        print(f"{k}: {v}")

In [59]:
greet("Bob", "Hey")

Hey Bob

In [60]:
greet("Alice", "Welcome", age=45, occupation="IT engineer")

Welcome Alice
age: 45
occupation: IT engineer

In [61]:
def add_numbers(*args):
    result = 0
    for x in args:
        result += x

    return result

In [62]:
add_numbers(1, 2, 4, 7, 10, 95)

119

In [63]:
add_numbers()

0

### Type Hinting

In [64]:
s : str = "abcdef"  # s is a variable of type string, it just hints the user the type of the varaible and doesn't enforce it

In [65]:
x : int = 89

x = True

In [66]:
def add_numbers(x, y):
    return x+y

In [67]:
def add_numbers(x: int | float, y: int | float) -> int | float:
    return x + y

In [68]:
add_numbers("abc", "def") # this will not error out

'abcdef'

### Return multiple values from the function

In [69]:
def add_and_subtract(a,b):

    x = a+b
    y = a-b

    return x,y  # returns a tuple

In [70]:
add_and_subtract(10, 3)

(13, 7)

In [71]:
def add_and_subtract(a,b):

    output = {
        "addition": a+b,
        "subtraction": a-b
    }
    return output   # returns a dictionary

In [72]:
add_and_subtract(10, 7)

{'addition': 17, 'subtraction': 3}

### map() function in python

```python
def my_func(value):
    <some calculation>
    return output

my_list = [v1, v2, v2, ...., vn]

x = map(my_func, my_list)   # x is a python map object

y = list(map(my_func, my_list))  # produces a list with the my_func applied on each value of my_list
```

In [73]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n*factorial(n-1)

In [74]:
list_of_values = [3, 4, 8, 2, 6]

list(map(factorial, list_of_values))

[6, 24, 40320, 2, 720]

In [75]:
[factorial(x) for x in list_of_values]

[6, 24, 40320, 2, 720]

### filter() function

In [76]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]

even_numbers = [x for x in numbers if x % 2 == 0]

even_numbers

[2, 4, 6, 8]

In [77]:
even_numbers = list(filter(lambda x: x%2 == 0, numbers))

even_numbers

[2, 4, 6, 8]