## My first python code : Hello World

In [2]:
# This is a comment line, this will not be executed 

print("Hello World, this is my first python code")

Hello World, this is my first python code

In [4]:
print("Hello")

print("My name is Sourav")

print("I am the instructor of the course")

Hello
My name is Sourav
I am the instructor of the course

### print() function in python

In [5]:
# the print function has an argument called 'end', this defines how your print() function ends
# by default the end='\n' (new line character)
# but one can change this to anything.

print("My name is Sourav", end='\t')  # '\t' stands for tab
print("I am the instructor")

My name is Sourav	I am the instructor

In [6]:
print("My name is Sourav", end='-----')  # '\t' stands for tab
print("I am the instructor")

My name is Sourav-----I am the instructor

## Variables in python

A variable is a memory location in the computer, where you can store some value.

In [7]:
a = 5

In [8]:
print(a)

5

In [9]:
a = 8

print(a)

8

In [10]:
type(a)  # type of the variable

int

In [11]:
b = 94.67

print(b)

94.67

In [12]:
type(b)

float

In [13]:
c = "I am learning python"

type(c)

str

In [14]:
d = True

type(d)

bool

### native data types

There are primarily 4 types of data in python

- integer (int)
- floating point number (float)
- String (str)
- Boolean (bool)


The naming convention

- Can't contain space
- can't contain any special character other than underscore ('_')
- It can start or end with underscore
- It can contain alphanumeric character (`a1`, `name_5`)
- But you can't start a variable name with numbers (`1a` is not allowed)
- can't be a reserved keyword 

Reserved keywords are used to describe the programming language.

int, float, str, def, ...

In [15]:
_x = 8.4

print(_x)

8.4

In [17]:
my_name = "Sourav"
profession = "data scientist"

print("My name is ", my_name, " and I am a ", profession)

My name is  Sourav  and I am a  data scientist

In [18]:
a = 7.9

print(type(a))

a = 6

print(type(a))

a = 'abc'

print(type(a))

<class 'float'>
<class 'int'>
<class 'str'>

Python is a dynamically typed language (as opposed to statically typed / strongly typed language like C or C++ ...)
You don't have to define the type of the variable before you use it.
and also, you don't need to define the memory allocation for string.

In [19]:
a

'abc'

In [22]:
"This is a very handy notebook"

type(b)

float

In [ ]:
a:str = "abcd"   # <variable_name>:type -> this is called type hinting

type(a)

str

In [24]:
a = 56

### Arithmatic operations

In [25]:
a = 3
b = 5.6
c = 40

#### addition and subtration

In [26]:
d = a+b
print(d)

8.6

In [31]:
type(d)

float

In [27]:
e=c-b
print(e)

34.4

In [28]:
3.7 + 7.8

11.5

In [30]:
f = 3.

type(f)

float

#### multiplication and division

In [32]:
a * c

120

In [33]:
type(a * c)

int

In [34]:
a * b

16.799999999999997

**rounding of using round() function**

In [36]:
round(a*b, 6)

16.8

In [37]:
round(a*b)

17

In [38]:
round(16.3435434)

16

In [55]:
round(25.5)

26

In [56]:
round(23.5)

24

In [ ]:
round(64.5)

64

In [59]:
round(64.49999)

64

In [ ]:
# normal division -> results in a floating point number

a = 12
b = 4

a/b

3.0

In [ ]:
# integer division 
# results in the integer (quotient) only when both the operands are integer
# it results in a float when any of the operands is float
# for float(s) operands it performs flooring

a // b

3

In [42]:
c = 14
d = 3

c // d

4

In [43]:
14 / 3

4.666666666666667

In [44]:
95.34 / 3.57

26.705882352941178

In [45]:
95.34 // 3.57

26.0

In [47]:
round(95.34 / 3.57)

27

In [46]:
98.34 // 4

24.0

In [48]:
# modulo division (remainder)

x = 45
y = 7

x % y

3

In [49]:
x = 46.32

y = 5

x % y

1.3200000000000003

#### Exponentiation

In [50]:
3**2  # 3 squared

9

In [51]:
4**5  # 4 to the power 5

1024

In [52]:
16**0.5   # **0.5 -> sqrt

4.0

In [53]:
81**(3/4)

27.0

### Type Conversion

In [60]:
x = 45.69

y = 85

z = "I am a DS"

In [61]:
int(x)   # float will be converted to int, truncating the decimal places

45

In [62]:
float(y) # it will convert y to float type

85.0

In [63]:
float(z)

ValueError: could not convert string to float: 'I am a DS'

In [64]:
v = "34.685"

float(v)

34.685

In [66]:
int(v)

ValueError: invalid literal for int() with base 10: '34.685'

In [65]:
w = "34"

int(w)

34

In [71]:
float(w)

34.0

In [67]:
a = 56.78

str(a)

'56.78'

In [70]:
str(a+b)

'60.78'

In [72]:
float(int(23.5))

23.0

### Input function 

This is used to get values from user

In [75]:
my_name = input("Enter your name: ")

In [76]:
my_name

'Sourav'

In [79]:
age = float(input("What's your age? "))

In [80]:
age

34.0

## Printing the are of a triangle given the sides

The sides of triangle are a, b, c

$$semi-perimeter: s = 0.5*(a+b+c)$$

$$area=\sqrt{s(s-a)(s-b)(s-c)}$$

In [81]:
a = float(input("enter side-1: "))
b = float(input("enter side-2: "))
c = float(input("enter side-3: "))

print("The sides are: ", a, b, c)

The sides are:  3.0 4.0 5.0

In [82]:
s = 0.5*(a+b+c)

area = (s*(s-a)*(s-b)*(s-c))**0.5

print("The area is: ", area)

The area is:  6.0

## Strings and string operations

In python you can define string by either double-quote or single-quote

`"this is my string"` -> this is a valid string

`'this is my python code` -> this is also a valid string

`"My job is to do math and logic'` -> this is not allowed

In [89]:
x = "I am an Indian"
y = 'I am also an asian'
z = 'I love my country "India"'

# You can put single quote as a character within double-quote or vice-versa

In [88]:
print(z)

I love my country "India"

In [ ]:
sentence = "My name is 'Sourav', and I am \"data scientist\""  # \ -> gives escape sequeunce

print(sentence)

My name is 'Sourav', and I am "data scientist"

In [92]:
sentence = 'He\'s good at math'
print(sentence)

He's good at math

In [94]:
# Multi-line strings

paragraph = """
I am an instructor at "logic-mojo".
Currently I am instructing python, ML, AI to a batch of '40 professionals'.
I love to teach.
"""

print(paragraph)

I am an instructor at "logic-mojo".
Currently I am instructing python, ML, AI to a batch of '40 professionals'.
I love to teach.

In [102]:
string = ''  # empty string, can be ""

In [103]:
string

''

### String concatination

In [98]:
x

'I am an Indian'

In [99]:
y

'I am also an asian'

In [ ]:
x + ". " + y

'I am an Indian. I am also an asian'

### String multiplication with integer

In [104]:
5 * x  # concatenates with the same string 5 times

'I am an IndianI am an IndianI am an IndianI am an IndianI am an Indian'

In [105]:
my_name = "Sourav"
my_profession = "Data Scientist"
my_age = 34

In [107]:
descr = "My name is "+ my_name + ". I am a " + my_profession + ". I am " + str(my_age) + " years old."

print(descr)

My name is Sourav. I am a Data Scientist. I am 34 years old.

print(a, b, c) -> it concatenates a, b, c after converting them to string

Uses sep keyword to give the separation among its arugment

str(a)+sep+str(b)+sep+str(c)

by default sep is " " (white space)

In [113]:
print("My name is", my_name, ". I am a", my_profession, ". I am", my_age, " years old.")

My name is Sourav . I am a Data Scientist . I am 34  years old.

#### string formatting

In [114]:
description = "My name is {}. I am a {}. I am {} years old".format(my_name, my_profession, my_age)

print(description)

My name is Sourav. I am a Data Scientist. I am 34 years old

In [115]:
print("My name is {}. I am a {}. I am {} years old".format(my_name, my_profession, my_age))

My name is Sourav. I am a Data Scientist. I am 34 years old

In [116]:
# f-string

another_descr = f"My name is {my_name}. I am a {my_profession}. I am {my_age} years old"

print(another_descr)

My name is Sourav. I am a Data Scientist. I am 34 years old

In [117]:
print(f"x={x}, y={y}, z={z}")

x=I am an Indian, y=I am also an asian, z=I love my country "India"

In [ ]:
a = 34.567
b = 56.12345
e = 78
c = "some string"

print(f"a= {a:7.3f}, b= {b:8.3f}, c= {c}, e= {e:5d}")


# {a:7.3f} -> a is a floating point number (can also work if a is integer), take 7 places to print a, out of which 3 are decimal places
# it rounds of a upto 3 decimal places and prints the entire number within 7 spaces
# a = 34.567 -> '  34.567'
# {e:5d} -> e is a integer and will print it using 5 palces
# if e=24 -> '   24'

a=  34.567, b=   56.123, c= some string, e= 78

#### few more string operation

In [165]:
s = "Here is my work, please find the link"

len(s) # return the number of characters including white spaces inside the string

37

In [166]:
s = "     there is a tree   "

len(s)

23

In [ ]:
s.strip()   # strip() removes the leading and trailing white spaces from the string

'there is a tree'

In [168]:
s.lstrip()  # removes the left (leading) whitespace

'there is a tree   '

In [169]:
s.rstrip()  # removes the right whitespace

'     there is a tree'

In [170]:
len(s)

23

In [171]:
len(s.strip())

15

In [175]:
fruits = "banana, orange, apple, mango"

new_fruits = fruits.replace("apple", "pineapple")

new_fruits

'banana, orange, pineapple, mango'

In [176]:
fruits.replace(' ', '--')

'banana,--orange,--apple,--mango'

### Boolean operations

In [138]:
a = False
b = True
c = True

In [140]:
# and operation

# True and True -> True
# otherwise we will get False

a and b and c

False

In [141]:
# or operation

a or b

True

In [142]:
# not operation
# not(True) -> False
# not(False) -> True

not a

True

In [143]:
(not a) and (not b)

False

### Conditional operation

always returns boolean values

If the condition is true then it will return `True`, otherwise `False`

#### Equality (==)

In [ ]:
x = 78

x == 87

False

In [145]:
x = '67'

x == 67

False

In [146]:
x = 56

x == 56.0

True

#### not equal (!=)

In [147]:
a = 56
b = 65

a != b

True

#### Other operation

#### > (greater than)
#### >= (greater than or equal to)
#### < (less than)
#### <= (less than or equal to)

In [148]:
b = 5

b >= 5

True

In [149]:
b > 6

False

In [150]:
type(b)

int

In [151]:
type(b) == float

False

### Flow control

if-else statement

```python

if (condition):
    run this code block
else:
    run this code block
```

In [154]:
my_name = "Akash"

if my_name == "Sourav":
    print("I am an instructor")
else:
    print("I am not an instructor")

I am not an instructor

In [156]:
# define: magic number is a integer number which is divisble by both 5 and 7

number = input("Enter the number: ")
number = int(float(number))

if number % 5 == 0 and number % 7 == 0:
    print("The number is divisible by both 5 and 7")
    print("It is a magic number")
else:
    print("It is not a magic number")

It is not a magic number

### Multiple if-else (if-elif-else)

```python

if (condition-1):
    run this code block
elif (condition-2):
    run this block
elif (condition-3):
    run this block
else:
    run this block
```

In [160]:
x = 5

if x > 20:
    print("The number is greater than 20")
elif x > 10:
    print("The number is greater than 10")

print("It is stopped")

It is stopped

### Nested if-else

```python
if (condition-1):
    if (condition-2):
        run this code block
    else:
        run this code bloc
else:
    run this code block
```

In [163]:
x = 15

if (x > 10):
    if (x > 20):
        print("The number is both greater than 10 and 20")
    else:
        print("The number is between 10 and 20")
else:
    print("The number is less than or equal to 10")

The number is between 10 and 20