# Loop in python

There are two loop control statments that we are going to learn

- `while` loop
- `for` loop

## While loop

```python

while(condition):
    keep on running the code block as long as the condition is met

```

In [ ]:
counter = 0   # initialization

while(counter < 10):
    print(counter)
    counter = counter + 1   # increments the counter varaible by 1

0
1
2
3
4
5
6
7
8
9

In [2]:
# unary operations 

# a += 3 : a = a + 3
# a -= 7 : a = a - 7
# x *= 10 : x = x * 10
# y /= 25 : y = y/25


x = 54

x += 2

print(x)

56

### Write a program to take a positive integer from the user and print the number of digits

In [ ]:
n = int(input("Enter the positive integer: "))

if n < 0:
    print("Please enter a positive integer.")
else:
    print(f"Entered number = {n}")
    num_of_digits = 0

    while n > 0:
        n = n // 10   # integer division by 10. given a number n=1234, n//10 will give 123
        num_of_digits += 1

    print(f"There are {num_of_digits} number of digits")

Entered number = 12324
There are 5 number of digits

### Given a positive integer produce a number which is reverse of it

In [6]:
n = int(input("Enter the positive integer: "))

if n < 0:
    print("Please enter a positive integer.")
else:
    print(f"Entered number = {n}")

    m = 0

    while n > 0:
        m = 10 * m + n % 10
        n = n//10

    print(f"The reversed number = {m}")

Entered number = 12345
The reversed number = 54321

## Range function in python

The range function gives values within the range of two numbers

`range(start, stop, step)`

- `start` -> The number from where you want to start (optional), default value is 0.
- `stop` -> The number where you want to stop (required), The number is **excluded** 
- `step` -> The number specifies the increment (optional), default is 1

All the values must be integers.

For example 

`range(1,10,1)` -> 1, 2, 3 ,4 ,5, 6, 7, 8, 9

In [ ]:
x = range(10) # range object -> iterable

print(x)

range(0, 10)

## For Loop

```python
for i in iterables:
    code block
```

`i` is an iterator (you can choose any variable name for the iterator)

`iterable` is an object in python on which we can iterate

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in range(10,100,5):
    print(i)

10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [14]:
for i in range(20, 10, -1):
    print(i)

20
19
18
17
16
15
14
13
12
11

In [15]:
for i in range(100, -1, -10):
    print(i)

100
90
80
70
60
50
40
30
20
10
0

## Nested Loops

```python
for i in range(0, 25):
    for j in range(12, 35):
        print(i, j)
```

### Print the multiplication table of all numbers upto 5

In [ ]:
for i in range(1,6):
    print(f"The multiplication table of {i}\n")
    for j in range(1,11):
        print(f"{i} * {j} = {i*j}")
    print("\n--------------------------------------")

The multiplication table of 1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

--------------------------------------
The multiplication table of 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

--------------------------------------
The multiplication table of 3

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

--------------------------------------
The multiplication table of 4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

--------------------------------------
The multiplication table of 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

--------------------------------------