# Python in-built data structure

1. List
2. Tuple
3. Set
4. Dictionary

## List

syntax

```python
my_list = [1, 3, 5]
```

In [4]:
a = [] # empty list

print(a)

print(type(a))

[]
<class 'list'>

In [5]:
# list can contain heterogeneous data

b = [1, 3.5, True, "Donald Trump", 34]

### length of a list 

number of elements in the list

In [6]:
len(b)

5

In [7]:
len(a)

0

### Indexing a list

list index starts from 0 and ends at n-1, where n is the length of the list.

In [8]:
b

[1, 3.5, True, 'Donald Trump', 34]

In [11]:
b[0] # this means first element in the list

1

In [12]:
b[3]

'Donald Trump'

In [13]:
b[5]

IndexError: list index out of range

### negative indexing

In [14]:
b[-1]   # return the last element

34

In [15]:
b[-2]

'Donald Trump'

In [16]:
b[-5]

1

In [17]:
b[-6]

IndexError: list index out of range

### Slicing

for a list `L` slicing is done tn the following way

`L[a:b:c]`

- `a`: starting index (included) [optional], default value is 0 (for +ve step) or `len(L)` (for -ve step)
- `b`: ending index (excluded) [optional], default value is `len(L)`(for +ve step) or 0 (for -ve step)
- `c`: step [optional], default vale is 1

In [18]:
l = [2, -4, 7, 10, 8, -23, 78, -43]

len(l)

8

In [19]:
l[1:6:2]  # l[1], l[3], l[5]

[-4, 10, -23]

In [20]:
l[2:]  # l[2:8:1]

[7, 10, 8, -23, 78, -43]

In [24]:
l[:5:] # l[0:5:1]

[2, -4, 7, 10, 8]

In [22]:
l[:]  # l[0:len(l):1]

[2, -4, 7, 10, 8, -23, 78, -43]

In [25]:
l[::] # l[0:len(l):1]

[2, -4, 7, 10, 8, -23, 78, -43]

In [23]:
l[::2] # l[0:len(l):2] -> l[0], l[2], l[4], ...

[2, 7, 8, 78]

In [26]:
l[7:4:-1]  # l[7], l[6], l[5]  start > end and step is -ve -> ok

[-43, 78, -23]

In [27]:
l[1:5:-1]  # start < end and the step is -ve: not ok -> empty list

[]

In [28]:
l[7:2:1] # start > end and step is +ve : not ok -> empty list

[]

In [29]:
l[::-1]  # l[len(l):0:-1] -> reverses the list

[-43, 78, -23, 8, 10, 7, -4, 2]

In [30]:
l[2:2]  # l[2:2:1]

[]

### Print the elements of a list

In [31]:
my_list = ["apple", "banana", "orange", "grapes", "coconut"]  # len(my_list) = 5

# range(len(my_list)) -> range(5) -> range(0,5,1) -> 0, 1, 2, 3, 4

for i in range(len(my_list)):
    print(my_list[i])

apple
banana
orange
grapes
coconut

In [34]:
list(range(10))  # converting a range object to list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
# list object iteself is an iterable

for x in my_list:
    print(x)

apple
banana
orange
grapes
coconut

### List of lists

In [36]:
a = [9, 10, -12]
b = [True, 'c', 25.5, 92, "Sherlock Holmes"]
c = []
d = [-3.45]

my_list = [a, b, c, d]

In [37]:
my_list[0]

[9, 10, -12]

In [38]:
my_list[1]

[True, 'c', 25.5, 92, 'Sherlock Holmes']

In [40]:
my_list[2]

[]

In [39]:
my_list[3]

[-3.45]

In [41]:
my_list

[[9, 10, -12], [True, 'c', 25.5, 92, 'Sherlock Holmes'], [], [-3.45]]

In [42]:
len(my_list)

4

In [43]:
my_list[1][2]

25.5

In [44]:
my_list[1][2:5:1]

[25.5, 92, 'Sherlock Holmes']

### List methods

#### append()

```python

L = [1,2,3]

L.append(7)

then L becomes [1,2,3,7]

```

In [45]:
l = [3, 5, -1, 6]

l.append(25)

print(l)

[3, 5, -1, 6, 25]

In [46]:
a = []

a.append(3)

a.append(4)

print(a)

[3, 4]

#### insert()

`insert(index, value)`

In [47]:
x = [3, -9, 5, 8, 10, -12]

x.insert(3, 6)

print(x)

[3, -9, 5, 6, 8, 10, -12]

In [48]:
x.insert(0, 22)

print(x)

[22, 3, -9, 5, 6, 8, 10, -12]

In [49]:
x.insert(-1, 45)

In [50]:
print(x)

[22, 3, -9, 5, 6, 8, 10, 45, -12]

In [ ]:
x.insert(len(x), 57)  # append

In [52]:
print(x)

[22, 3, -9, 5, 6, 8, 10, 45, -12, 57]

In [ ]:
x.insert(100, 34)  # because 100th index doesn't exist it will append the element at the last

In [54]:
x

[22, 3, -9, 5, 6, 8, 10, 45, -12, 57, 34]

In [ ]:
x.insert(-100,49)  # -100th index will coerced to 0

In [56]:
x

[49, 22, 3, -9, 5, 6, 8, 10, 45, -12, 57, 34]

#### sort()

it only works on homogenous list, when the element of the list are of same type

In [57]:
y = [4, -2, 67, -54, 2, 27]

y.sort()  # arranges the elements in the list in ascending order

print(y)

[-54, -2, 2, 4, 27, 67]

In [58]:
z = [4, -3, -1, 23, 90]

z.sort(reverse=True) # sort the list in descending order

print(z)

[90, 23, 4, -1, -3]

In [60]:
my_list = ["apple", "banana", "orange", "grapes", "coconut"] 

my_list.sort()  # it will sort it in alphabetical order (lexicographical order)

print(my_list)

['apple', 'banana', 'coconut', 'grapes', 'orange']

In [61]:
w = [True, 'c', 25.5, 92, 'Sherlock Holmes']

w.sort()

TypeError: '<' not supported between instances of 'str' and 'bool'

#### extend()

In [62]:
a = [2, 3, 4]
b = [5, 6, 7, 8]

a.extend(b)  # append the list b to list a and stores the values within list a

print(a)

[2, 3, 4, 5, 6, 7, 8]

In [64]:
s = [1, 3, 6, 8]
t = [4, 9, 10, 12]

v = s + t

print(v)

[1, 3, 6, 8, 4, 9, 10, 12]

In [65]:
3 * s # s + s + s

[1, 3, 6, 8, 1, 3, 6, 8, 1, 3, 6, 8]

#### pop()

return the last element and remove that element from the list

In [66]:
s

[1, 3, 6, 8]

In [67]:
s.pop()

8

In [68]:
print(s)

[1, 3, 6]

In [69]:
t

[4, 9, 10, 12]

In [70]:
t.pop(2)  # the value at the index 2 will be removed from the list and that value will be returned

10

In [71]:
print(t)

[4, 9, 12]

In [72]:
t.pop(30)

IndexError: pop index out of range

#### index()

```python
index(value)
```

gives the index of the first occurrence of the value in the list

In [73]:
l = [3, 6, 0, -1, 5, -2, 0]

l.index(0)

2

In [74]:
l.index(4)

ValueError: 4 is not in list

#### count()

In [76]:
l.count(6)

1

In [77]:
l = [1, 3, 6, 1, 4, 9, 1, 0, -1, 1]

l.count(1)

4

In [78]:
l.count(10)  # if the number doesn't exist in the list then it will return 0

0

## Tuple

Tuple is another data structure in python similar to list, but tuples are **immutable**.

list is mutuable : you can change the element of the list after assignment.

tuple is immutable : you can't change the element of a tuple after assignment

In [79]:
a = () # empty tuple

type(a)

tuple

In [80]:
b = (3, 7, 10)

type(b)

tuple

In [81]:
c = 3, 9, -4  # paranthesis is optional

type(c)

tuple

In [82]:
b[0]

3

In [83]:
b[-1]

10

In [84]:
a = (3, 6, 9, 10, 4, 7)

a[2:6]

(9, 10, 4, 7)

In [85]:
my_list = ['a', 34, -5.6, 'Sachin']  # list assignment

my_tuple = ('a', 34, -5.6, 'Sachin')  # tuple assignment

print(type(my_list), type(my_tuple))

<class 'list'> <class 'tuple'>

In [86]:
my_list[0] = 'b'

my_list

['b', 34, -5.6, 'Sachin']

In [87]:
my_tuple[0] = 'b'

TypeError: 'tuple' object does not support item assignment

In [88]:
my_tuple.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [90]:
my_tuple.append(24)

AttributeError: 'tuple' object has no attribute 'append'

In [91]:
my_tuple = my_tuple + (5, 10)

my_tuple

('a', 34, -5.6, 'Sachin', 5, 10)

In [92]:
my_tuple

('a', 34, -5.6, 'Sachin', 5, 10)

In [93]:
my_tuple.extend((3, 10))

AttributeError: 'tuple' object has no attribute 'extend'

In [94]:
list(my_tuple)  # converting from tuple to list

['a', 34, -5.6, 'Sachin', 5, 10]

In [95]:
tuple(my_list) # converting from list to tuple

('b', 34, -5.6, 'Sachin')

In [96]:
s = "adidas" # strings are also immutable

s[3] = 'b'

TypeError: 'str' object does not support item assignment

In [98]:
sentence = "This is my house. I love it very much."

sentence.split()  # split the sentence by whitespace and keep the elements in the list

['This', 'is', 'my', 'house.', 'I', 'love', 'it', 'very', 'much.']

In [99]:
description = "name: Sourav Karmakar"

description.split(':')  # split the string by ':' and put the elements in a list

['name', ' Sourav Karmakar']

In [100]:
csv = "a,b,c,d,e,f,g"

csv.split(',')

['a', 'b', 'c', 'd', 'e', 'f', 'g']

## Set

Set is a data structure which contains unique values. The order is not guaranteed.

Sets are also immutable.

Indexing and slicing are not allowed on set.

In [110]:
set()  # empty set

set()

In [114]:
set((1, 5, 6))

{1, 5, 6}

In [101]:
my_list = [1, 3, 4, 1, 4, 5, 8]

my_set = set(my_list)

my_set

{1, 3, 4, 5, 8}

In [102]:
# cout number of unique elements in the list

a = [1, 7, 7, 10, 1, 8, 10, 4]

len(set(a))

5

In [103]:
set(a)

{1, 4, 7, 8, 10}

In [104]:
my_list = ['sachin', 'virat', 100, 250, 10, True]

set(my_list)

{10, 100, 250, True, 'sachin', 'virat'}

In [106]:
fruit_set = set(["apple", "banana", "orange", "grapes", "coconut"])

In [107]:
fruit_set

{'apple', 'banana', 'coconut', 'grapes', 'orange'}

In [108]:
fruit_set[2]

TypeError: 'set' object is not subscriptable

In [109]:
for x in fruit_set:
    print(x)

coconut
orange
banana
grapes
apple

In [115]:
fruit_set.append('pineapple')

AttributeError: 'set' object has no attribute 'append'

In [118]:
a = {2, 5, 9, 10}

type(a)

set

### Set methods

In [116]:
fruit_set.add('pineapple')

In [117]:
fruit_set

{'apple', 'banana', 'coconut', 'grapes', 'orange', 'pineapple'}

In [119]:
fruit_set.add('pineapple')

In [120]:
fruit_set

{'apple', 'banana', 'coconut', 'grapes', 'orange', 'pineapple'}

In [121]:
A = {3, 6, 9, 12, 15, 18, 21, 24, 27, 30}
B = {5, 10, 15, 20, 25, 30}

In [122]:
A.intersection(B)  # return the set of common elements from A and B

{15, 30}

In [123]:
A.union(B)

{3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30}

In [124]:
A.difference(B)   # all the elements of A which are not common to B

{3, 6, 9, 12, 18, 21, 24, 27}

In [125]:
B.difference(A)

{5, 10, 20, 25}

In [126]:
A.symmetric_difference(B)  # union of A.difference(B) and B.difference(A)  # Union - intersection

{3, 5, 6, 9, 10, 12, 18, 20, 21, 24, 25, 27}

In [127]:
C = {'apple', 'banana', 'orange'}

D = {'apple', 'banana', 'orange', 'guava', 'coconut'}

In [128]:
C.issubset(D)  # whether C is a subset of D or not, return True / False

True

In [129]:
D.issubset(C)

False

In [130]:
D.issubset(D)

True

In [131]:
D.issuperset(C)

True

In [132]:
C.isdisjoint(D)   # return False when we have common elements between the sets, True

False

In [133]:
C.isdisjoint(A)

True

In [134]:
A.intersection(C)

set()

## Dictionary

Python dictionary is a key-value pair data structure. This is python's in-built hash map.

```python
{key1: value-1, key2: value-2, ....}
```

key of the dictionary should be immutable.

In [135]:
d = {} # empty dictionary , set() -> empty set

In [136]:
type(d)

dict

In [137]:
fruits = {'apple': 80, 'banana': 200, 'mango': 250, 'orange': 400}

In [138]:
fruits

{'apple': 80, 'banana': 200, 'mango': 250, 'orange': 400}

In [139]:
type(fruits)

dict

In [140]:
fruits['apple']

80

In [141]:
fruits['orange']

400

In [142]:
fruits.items()  # iterable

dict_items([('apple', 80), ('banana', 200), ('mango', 250), ('orange', 400)])

In [143]:
for k,v in fruits.items():
    print(f"The price of {k} is {v}")

The price of apple is 80
The price of banana is 200
The price of mango is 250
The price of orange is 400

In [145]:
fruits = {'apple': 80, 'banana': 200, 'mango': 250, 'orange': 400, 'banana': 300}

fruits

{'apple': 80, 'banana': 300, 'mango': 250, 'orange': 400}

In [152]:
fruit_names = ["mango", "guava", "pineapple", "orange", "apple"]

price_list = [400, 200, 350, 150, 375, 567]

fruit_dict = {}  # dict()

for x,y in zip(fruit_names, price_list):
    if x not in fruit_dict:
        fruit_dict[x] = y

In [174]:
dict(zip(fruit_names, price_list))

{'mango': 400, 'guava': 200, 'pineapple': 350, 'orange': 150, 'apple': 375}

In [153]:
fruit_dict

{'mango': 400, 'guava': 200, 'pineapple': 350, 'orange': 150, 'apple': 375}

### Dictionary methods

In [154]:
fruit_dict

{'mango': 400, 'guava': 200, 'pineapple': 350, 'orange': 150, 'apple': 375}

In [157]:
fruit_dict['kiwi']

KeyError: 'kiwi'

In [160]:
fruit_dict.get('kiwi', "Not in the market")

'Not in the market'

In [161]:
'guava' in fruit_dict

True

In [162]:
'custard_apple' in fruit_dict

False

In [163]:
fruit_dict.keys()

dict_keys(['mango', 'guava', 'pineapple', 'orange', 'apple'])

In [164]:
fruit_dict.values()

dict_values([400, 200, 350, 150, 375])

In [165]:
fruit_dict.items()

dict_items([('mango', 400), ('guava', 200), ('pineapple', 350), ('orange', 150), ('apple', 375)])

In [166]:
fruit_dict.pop('apple')  # return the corresponding value to the key and remove the key value pair from the dictionary

375

In [167]:
fruit_dict

{'mango': 400, 'guava': 200, 'pineapple': 350, 'orange': 150}

In [168]:
ex_dict = {(1,2,3): 7}

ex_dict

{(1, 2, 3): 7}

In [169]:
ex_dict.get((1,2,3))

7

In [170]:
ex_dict = {[1,2,3]: 7}

TypeError: unhashable type: 'list'

In [172]:
dict_a = {'a': 30, 'b': 40}
dict_b = {'c': 25, 'd': -15}

dict_a.update(dict_b)

In [173]:
dict_a

{'a': 30, 'b': 40, 'c': 25, 'd': -15}